# Ignorar cache de VS y builds
.vs/
bin/
obj/

# Visual Studio / .NET
*.user
*.suo
*.cache
*.log
*.v2
*.vsidx

# Publicaciones/artefactos
*.dll
*.exe
*.pdb

# Config locales (opcional)
appsettings.Development.json
